@using SmartHome.UI.Auth
@inherits LayoutComponentBase
@inject NavigationManager navManager;

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        @*  <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
        <MudSpacer />
        <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="CustomTheme"/>
        @if (_isDarkMode)
        {
            <MudTooltip Text="Switch to light mode">
                <MudIconButton OnClick="ChangeDarkMode" Icon="@Icons.Material.TwoTone.LightMode" Color="Color.Warning" />
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Switch to dark mode">
                <MudIconButton OnClick="ChangeDarkMode" Icon="@Icons.Material.Rounded.DarkMode" Color="@Color.Warning" />
            </MudTooltip>
        }
        <AuthorizeView>
            <Authorized>
                <MudButton Style="width:7%;" OnClick="() => NavMenu.Logout(navManager)">LOGOUT</MudButton>
                <Avatar Username="@context.User.GetUserName()" ProfilePicture="@context.User.GetProfilePicture()" />
                <MudText Class="mx-4">@context.User.GetUserName()</MudText>
            </Authorized>
            <NotAuthorized>
                <MudAvatar>?</MudAvatar>
                <MudButton Style="width:7%;" OnClick="() => NavMenu.Login(navManager)">LOGIN</MudButton>
                @* <MudText Class="mx-4">Guest</MudText> *@
            </NotAuthorized>
        </AuthorizeView>
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Href="https://mudblazor.com/"/>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/MudBlazor/MudBlazor/"/>
    </MudAppBar>
    <SideMenu />
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code{
    private bool _isDarkMode;
    private void ChangeDarkMode() => _isDarkMode = !_isDarkMode;


    MudTheme CustomTheme = new MudTheme()
    { 
        PaletteLight = new PaletteLight()
        {
            AppbarBackground = new MudBlazor.Utilities.MudColor("#f8f9faff"),
            DrawerBackground = new MudBlazor.Utilities.MudColor("#ebebebff"),
            Background = new MudBlazor.Utilities.MudColor("#f8f9fa"),
            Primary = new MudBlazor.Utilities.MudColor(Colors.Blue.Default),
            AppbarText = new MudBlazor.Utilities.MudColor("#424242ff"),
            Divider = new MudBlazor.Utilities.MudColor("#424242ff"),
        },
        PaletteDark = new PaletteDark()
        { 
            AppbarBackground = new MudBlazor.Utilities.MudColor("#27272fcc"),
            Primary = new MudBlazor.Utilities.MudColor(Colors.Blue.Darken2),
            Divider = new MudBlazor.Utilities.MudColor("#bebec0"),
        }
    };
}
